@tailwind base;
@tailwind components;
@tailwind utilities;
/* .superstyle {
    color:grey; 
    border: 1px solid red;

}  */
.center {
    text-align: center;

}

.titre {
  border: solid 1px orange;
  margin: 5em;
}
#paragraph2 {

    font-family: Arial;
    text-decoration: line-through ;
    text-align: center;
}

 #yes {
   color: rgb(43, 255, 0);
   
 }

 #no {
    margin-left: 15px;
    color: red;
 }

 .yesno {
    text-align: center;
 }

 .superdiv {
    border: 3px solid orange ;
    text-align: center;
    padding: 15px;
 }
 .blabla {
    background-color: red ;
 }

 .selectfile {
   width: 80%; 
   height: 10em;
   text-align: center;
   border: 3px dashed orange;
   margin-bottom: 20px;
 }

 .selectfile:hover{
   background-color: rgb(255, 212, 183);
   cursor: pointer;
 }

 .launchgame {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
 }

 p {
   font-family: 'Almarai', sans-serif;  
 }

 h4 {
   text-align: center;

 }
 .answerbutton {
  margin: 2em;
  cursor: pointer;
  min-width: 5em;
  min-height: 2em;
 }

 .bonton:hover {
   opacity: 0.5;
 }

.image img {
  max-width: 100%;
}
.image {
  display: inline-block;
  margin: 2em;
  width: 5em;
  transition: all 500ms
}
.image:hover {
  width: 15em;
}

.falling {
  transition: ease-in;
  transition-duration: 700ms;
}
.startfall {
  opacity: 1;
  transform: translateY(0);
}

.endfall {
  opacity: 0;
  transform: translateY(700px);
}