/* .superstyle {
    color:grey; 
    border: 1px solid red;

}  */
.center {
    text-align: center;

}

#paragraph2 {

    font-family: Arial;
    text-decoration: line-through ;
    text-align: center;
}

 #yes {
   color: rgb(43, 255, 0);
   
 }

 #no {
    margin-left: 15px;
    color: red;
 }

 .yesno {
    text-align: center;
 }

 .superdiv {
    border: 3px solid orange ;
    text-align: center;
    padding: 15px;
 }
 .blabla {
    background-color: red ;
 }

 .selectfile {
   width: 20em; 
   height: 5em;
   border-color: rgb(243, 104, 11);
   border: 3px solid;
   border-radius: 15%;
   margin-bottom: 20px;
 }

 .selectfile:hover{
   background-color: rgb(228, 95, 7);
 }

 p {
   font-family: font-family: 'Almarai', sans-serif;  
 }

 h4 {
   text-align: center;

 }
 .answerbutton {
  margin: 2em;
  cursor: pointer;
  width: 5em;
  height: 2em;
 }

 .bonton:hover {
   opacity: 0.5;
 }